<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Profile Settings | Cagliari Port 2020</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Web Fonts -->	
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>


	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="customAssets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="<%= commonUI.headerCss %>">

	<!--<link rel="stylesheet" href="assets/css/headers/header-default.css">-->
	<!--<link rel="stylesheet" href="assets/css/footers/footer-v1.css">-->


	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="assets/css/bootstrap-editable.css">
	<link rel="stylesheet" href="assets/css/jquery.jgrowl.min.css">

	<!-- CSS Page Style -->
	<link rel="stylesheet" href="assets/css/pages/profile.css">
	<link rel="stylesheet" href="assets/plugins/line-icons-pro/styles.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">


	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-colors/dark-red.css">


	<!-- CSS Customization -->
	<!-- CSS Page Style Import-->
	<link rel="stylesheet" href="assets/css/pages/page_log_reg_v3.css">

	<link rel="stylesheet" href="assets/css/custom.css">

	<link rel="stylesheet" href="customAssets/css/imgthumbnail.css">

    <link rel="stylesheet" href="assets/css/typeaheadjs.css">




  
  <style type="text/css">
        .giveMeEllipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5; /* number of lines to show */
            /*  line-height: 1;  fallback */
            max-height: 5; /* fallback */
        }

        .sidebar-showhide {
            max-width: 25%;
            float: left;
            display: flex;
            padding: 15px;
            padding-top: 0;
        }

        .autoexpand {
            width: auto;
            display: flex;
        }

        #pagination_container {
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: 530px;
            width: 530px;
        }
    </style>


  
</head>

<body >
	<div class="wrapper">
		<!--=== Header ===-->
		<div id="header_p_HT"> <%- commonUI.header %> </div>
		<!--=== End Header ===-->

		<!--=== Profile ===-->
		<% if(!resetPassword) { %>
			<div class="container content height-500">
				<div class="row">
					<div id="emailTab">
						<h2 class="heading-md" data-i18n="profile.resetpasswordtitle"></h2>
						<div id="resetform">
							<p data-i18n="profile.resetpasswordmessage"></p>
							<br>
							<div>
								<div class="input-group margin-bottom-20">
									<span class="input-group-addon rounded-left"><i class="icon-envelope color-white"></i></span>
									<input type="email" class="form-control rounded-right" data-i18n="[placeholder]profile.emailplaceholder" id="passwordrecoveremail">
								</div>
								<hr />
								<div class="input-group margin-bottom-20">
									<button type="button" class="btn-u" data-i18n="profile.reset" onclick="resetPassword()"></button>
								</div>

							</div>
						</div>
						<div id="resetmessage" class="hidden" >
							<p data-i18n="profile.resetemailmessage"></p>
						</div>

						<div id="reseterror" class="hidden" >
							<div class="alert alert-danger margin-bottom-20" id="resetPasswordErrorMessage"></div>

							<div class="margin-bottom-20">
								<!--<div class="col-md-6 col-md-offset-3">-->
								<a style="border-color: #cccccc" class="btn-u btn-brd " data-toggle="collapse" data-target="#viewdetails" data-i18n="buttons.show_more" ></a>
								<div class="alert-warning collapse margin-top-20" id="viewdetails">
									<span class="sorry" ><i id="showmore"></i></span>
								</div>
								<!--</div>-->
							</div>

							<hr class="devider">

							<div>
								<div class="col-md-6 col-md-offset-5">
									<a style="border-color: #cccccc" class="btn-u btn-brd" href="<%=properties.defaultHomeRedirect%>" data-i18n="buttons.home_redirect" ></a>
								</div>
							</div>

						</div>

					</div>
				</div><!--/end row-->
			</div>
		<%} else {%>
		<div class="container content height-500">
			<div class="row">
				<h2 class="heading-md" data-i18n="profile.passwordTitle"></h2>
				<p data-i18n="profile.passwordTitle2"></p>
				<br>
				<div>
					<div id="responseBlock" class="alert alert-danger hidden"></div>
					<div class="input-group margin-bottom-20">
						<span class="input-group-addon rounded-left"><i class="icon-lock color-white"></i></span>
						<input type="password" class="form-control rounded-right" data-i18n="[placeholder]profile.newPasswordPlaceholder" id="newPassword1">
					</div>

					<div class="input-group margin-bottom-20">
						<span class="input-group-addon rounded-left"><i class="icon-lock color-white"></i></span>
						<input type="password" class="form-control rounded-right" data-i18n="[placeholder]profile.newPassword2Placeholder" id="newPassword2">
					</div>
					<hr />
					<div class="input-group margin-bottom-20">
						<button type="button" class="btn-u" data-i18n="profile.save" onclick="setPassword('<%- resetToken%>','<%- resetTokenuserId%>')"></button>
					</div>

				</div>
			</div>
		</div>
        <%}%>
		<!--=== End Profile ===-->

		<!--=== Footer Version 1 ===-->
		<div id="footer_p_HT"> <%- commonUI.footer %> </div>
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	<!-- Load properties -->
	<script>
        var config=JSON.parse('<%- JSON.stringify(properties) %>');
        console.log(config);
        var redirectTo='<%- redirectTo %>'
        console.log(redirectTo);
	</script>



	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- JS Translation -->
  	<!--<script src="assets/js/plugins/i18next.min.js"></script>-->
	<!--<script src="customAssets/translations/translation.json"></script>-->
  	<!--<script src="assets/js/plugins/jquery-i18next.min.js"></script>-->


	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
	<script type="text/javascript" src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>


	<!-- JS Customization -->
	<script type="text/javascript" src="node_modules/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/bootstrap-editable.min.js"></script>
	<script type="text/javascript" src="customAssets/js/sign_in_up.js"></script>


	<!-- <script type="text/javascript" src="assets/js/userUiCustom.js"></script>
	JS Page Level -->
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/forms/reg.js"></script>
	<script type="text/javascript" src="assets/js/forms/checkout.js"></script>
	<script type="text/javascript" src="assets/js/plugins/datepicker.js"></script>
    <script type="text/javascript" src="customAssets/js/profile_template.js"></script>
    <script type="text/javascript" src="assets/js/plugins/handlebars.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/jquery.jgrowl.min.js"></script>


  	<script type="text/javascript" src="assets/js/plugins/bootstrap-filestyle.min.js"></script>
  	<script type="text/javascript" src="assets/js/plugins/typeahead.bundle.js"></script>
	<script type="text/javascript" src="customAssets/js/utils.js"></script>
	<script type="text/javascript" src="customAssets/js/userUiCustom.js"></script>
  	<script type="text/javascript" src="customAssets/js/sidebar.js"></script>
  	<script type="text/javascript" src="customAssets/js/profile.js"></script>
	<script type="text/javascript" src="customAssets/js/defaultValues.js"></script>

	<script src="<%- commonUI.headerScript %>"></script>
	<script src="<%- commonUI.footerScript %>"></script>
	<script src="<%- commonUI.languagemanager %>"></script>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();

            $.ajax({
                cache: false,
                url: config.userUIUrl + '/customAssets/translations/translation.json',
				type:"get",
                contentType:"application/json",
                success: function(data) {
                    initDictionary(data,config.commonUIUrl,"profileLanguageManagerInitialized");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr);
                    console.error(thrownError);
                }
			});
		});
	</script>

<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
	<![endif]-->

	<!--[if lt IE 10]>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->
</body>
</html>
